<div class="container content">
  <h3><strong>Edit Movement</strong></h3>
  <br>
  <%= render 'form', movement: @movement %>
  <br>
  <%= link_to 'Show', @movement %> |
  <%= link_to 'Back', movements_path %>
</div>
